body {
	margin: auto;
	color: black;
}

#headingGroup h2 {
	color: steelblue;
	font-family: "Avenir";
	font-size: 14px;
	margin-bottom: 50px;
	border-bottom: 1px solid steelblue;
}

#headingGroup p {
	line-height: 30px;
	padding-bottom: 50px;
	border-bottom: 1px solid steelblue;
}

#headingGroup {
	margin-right:50px;
}

@media (max-width: 1200px) {
    #headingGroup p {
        line-height: 20px;
    }
}

#headingGroup .disappear:hover {
    color: white;
    transition: 2.5s;
}

