body {
	background: white;
	background-size: auto;
	color: black;
}

#mainNavbar .navbar-brand{
	margin-left: 100px;
	font-size: 25px;
	font-family: "Avenir";
}

#mainNavbar .dream {
	margin-left: 70px;
	color: white;
	text-align: center;
	font-size: 15px;
	font-weight: 300;
}


#mainNavbar .Orange {
	color: darkorange;
}

#mainNavbar .navbar-toggler{
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 100px;
	border: none;
}

#mainNavbar {
	background-color: rgb(147, 170, 166);
	opacity: 0.9;
}

#mainNavbar .navbar-nav .nav-link {
	font-size: 23px;
	padding-bottom: 28px;
	font-family: "Avenir";
}

.first #txtleft {
	margin: 7% 30%;
	text-align: center;
	border-left: 5px solid steelblue;
	padding-left: 20px;
}

.first #txt {
	margin-top: 4%;
	margin-bottom: 2%;
	margin-left: 30%;
	margin-right: 30%;
	text-align: center;
}

.first #txtblue {
	margin-top: 7%;
	margin-bottom: 5%;
	margin-left: 30%;
	margin-right: 30%;
	text-align: center;
	font-family: "Avenir";
	color: steelblue;
}

.second #txtblue {
	margin-top: 550px;
	padding-top: 550px;
	margin-bottom: 5%;
	margin-left: 30%;
	margin-right: 30%;
	text-align: center;
	font-family: "Avenir";
	color: steelblue;
}

.second #txt {
	margin-top: 4%;
	margin-bottom: 2%;
	margin-left: 30%;
	margin-right: 30%;
	text-align: center;
}

.parallax {
  /* The image used */
  background-image: url("https://images.dwell.com/photos/6165276142929289216/6504853140940161024/large.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  /* The image used */
  background-image: url("https://i.pinimg.com/originals/14/69/9e/14699e3f61aaa977ac10c5cb5ea94795.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70% 100%;
}

.parallax3 {
  /* The image used */
  background-image: url("https://www.greeka.com/photos/cyclades/naxos/beaches/hero/naxos-beaches-1-1280.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#more1 {display: none;}
#more2 {display: none;}

#myBtn {
	background-color: white;
	color: black;
	border-color: black;
	border-width: thin;
	margin-left: 45%;
	margin-bottom: 7%;
}

#Btn2 {
	background-color: white;
	color: black;
	border-color: black;
	border-width: thin;
	margin-left: 45%;
	margin-bottom: 7%;
}


.movebg {
  height: 100vh;
  background-image: url(https://i.pinimg.com/originals/57/ea/07/57ea07b8f8878d0be55bd3b790a01d7c.jpg);
  background-size: 110% 110%;
  background-position: center center;
  animation: shrink 10s infinite alternate;
}

.movebg h1 {
	color:white;
	text-align: center;
	padding-top: 25%;
	font-family: "Avenir";
}

@keyframes shrink {
  0% {
    background-size: 110% 110%;
  }
  100% {
    background-size: 100% 100%;
  }
}


.wrapper {
    padding: 50px 50px;
    max-width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.right {float: right !important;}
/* Image zoom on hover + Overlay colour */
.parent {
    width: 45%;
    margin: 20px;
    height: 300px;
    border: none;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
    cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

/* Several different images */
.bg-one {background-image: url(https://media-cdn.tripadvisor.com/media/photo-s/0c/37/33/f2/isalos.jpg);}
.bg-two {background-image: url(https://www.realnaxos.com/wp-content/uploads/2020/01/05-b-Outside.jpg);}
.bg-three {background-image: url(https://sites.google.com/site/yourgreekvillacom/villa-kamari-naxos/3.jpg);}
.bg-four {background-image: url(https://www.santorinivillas.co.uk/wp-content/uploads/2019/11/naxos-luxury-villas-outside.jpg);}
.bg-five {background-image: url(https://images.trvl-media.com/hotels/33000000/32640000/32631500/32631462/4c8d6c62.jpg?impolicy=fcrop&w=670&h=385&p=1&q=medium);}
.bg-six {background-image: url(https://i.pinimg.com/originals/9b/74/07/9b7407592f7db7001aba88b88e51d85b.png);}


.wrapper a {
    display: none;
    font-size: 35px;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    /*text-decoration: none;*/
}

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover a, .parent:focus a {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}

/* Media Queries */
@media screen and (max-width: 960px) {
    .parent {width: 100%; margin: 20px 0px}
        .wrapper {padding: 20px 20px;}
}


.hello {display: none}

.footer #footertitle{
	padding-top: 7%;
	margin-bottom: 0;
	text-align: center;
	color: black;
	font-family: "Avenir";
	font-size: 25px;
	border-bottom: 1px solid black;
}

.footer #footernaxos {
	padding-top: 0;
	text-align: center;
	color: black;
	font-family: "Avenir";
	font-size: 15px;
	font-weight: bold;
}

.footer ul {
	text-align: center;
	list-style-type:none;
	padding-top: 17%;
	font-size: 14px;
	font-weight: 600;
}

.footer li {
	padding-bottom: 10px;
}

i {
	margin-left: 40%;
	padding-top: 70%;
}

#line3 {
	border-right: 1px solid black;
	padding-right: 0;
	padding-left: 50%;
	border-width: 100%;
	margin-top: 0;
	margin-bottom: 0;

}

.boxes p {
	border: 1px solid black;
	margin: 0 auto;
	width: 18%;
	font-size: 14px;
	font-weight: 550;
	padding: 10px;
	font-family: "Avenir";
}

.boxes h4 {
	margin-bottom: 40px;
	margin-top: 20px;
	font-family: "Avenir";
	font-size: 25px;


}

.boxes {
	text-align: center;

}

.finale {
	margin-top: 40px;
	margin-bottom: 20px;
	font-family: "Avenir";
	font-weight: 500;
}